.login-container {
  width: 100%;

  .col-1 {
    background-color: #2a3a71;
    border-radius: 0px 24px 24px 0px;
  }

  .col-2 {
    .wrapper-signIn-form {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      margin: auto;
      width: 32%;

      .btn-google {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 55px;
        padding: 25px 43px;
        gap: 15px;
        border: 1px solid #24377a;

        .icon-google {
          content: url(../../assets/google.png);
        }
        p {
          font-size: 18px;
        }
      }

      .login-btn {
        width: 100%;
        background-color: #2a3a71;
        padding: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
      }

      .wrap-or {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 19px;
        padding: 10px;

        div {
          width: 45%;
          border-top: 1px solid gray;
        }
      }
    }
  }
}
